body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: white;
}

.App {
  background-color: yellow;
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 25rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
}

.btn {
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.display {
  font-size: 2.5rem;
  font-weight: bolder;
}